/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 11, 2022, 4:07:02 PM
    Author     : 816386
*/

*{
    margin:0;
    padding: 0;
    box-sizing: content-box;
}
.schedule-wrapper{
    margin:30px 0px ; 
}
#form_heading{
    
}
#form_heading h1, #form_heading p{
    display: block;
    margin-left: 30px;
}

#schedule{
    width: 55%;   
    margin: 0 auto;
}
div#form_heading span {
    display: inline-flex;
}
/* Style the header of the grid to be different than the rows in the grid*/
header {
    display : block;
    background-color :#93A2BF;
    color : black;
    margin:10px 0px ; 
}
/* Style the individual columns */
span#hdr-Id,
span.Row-Id {
    width: 50px;
    margin:20px 0px ; 

}
span#hdr-FirstName,
span#hdr-LastName,
span#hdr-Date {
    width: 200px;
    margin:10px 0px ; 
}
span#hdr-Time{
    width: 100px;
        margin:10px 0px ; 

}
#schedule_form{
    padding-left: 30px;
    background-color: white;
    
}
#signup_form label{
    color:white;
}
#schedule_form_flex{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
#schedule_form_flex label{
    display:block;
    width: 180px;
}
#schedule_form_flex input{
    display:block;
    width: 230px;
    height:32px;
    border-radius: 5px;
    padding:2px 5px;
    align-content: space-around;
    margin-right: 25%;
}
#schedule_form_flex div{
    flex:50%;
    margin:5px 0px;
}
.Row{
    display : block;
    /*background-color :#93A2BF;*/
    color : black;
    margin:10px 0px ; 
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.doctor_schedule_banner{
    position: relative;
    margin-top: 15px;
}
.doctor_schedule_banner_text{
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}

/*MOCKUP OF LISTED DOCTOR*/
/*span.Row-FirstName,
span.Row-LastName,
span.Row-Date {
    width: 250px;
    margin:10px 0px ; 
}
span.Row-Time{
    width: 150px;
        margin:10px 0px ; 

}*/