@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body{
    font-family: 'Lato', sans-serif;
    background-color: #AEE8FE;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
a, a:hover{
    color: black;
    text-decoration: none;
}
.headers{
    font-family: 'Open Sans', sans-serif;    
}
.fixed_position_welcome_page{
    display: none;
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.top_blue_div{
    height: 15px;
    background-color: #AEE8FE;
}
.topnav-wrapper{
    border-bottom: 1px solid #DDD4DD;
    background-color: #F8F5F8;
}
.topnav{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}
.topnav-left{
    float: left;
}
.topnav-left img{
    position: absolute;
}
.topnav-right nav{
    width:100%;
    height: 80px;
}
.topnav-right nav ul{
    float:left;
    margin-bottom: 0px;
}
.topnav-right nav ul li{
    list-style: none;
    float:left;
    position:relative;
}
.topnav-right nav ul li a{
    display:block;
    float:left;
    padding:30px 14px;
    font-size:18px;
}
.topnav-right nav ul li ul{
    display: none;
    position:absolute;
    top:88px;
    background-color: #F8F5F8;
    margin-bottom: 0px;
}
.topnav-right nav ul li ul li a{
    padding:12px 14px;
}
.topnav-right nav a:hover{
    background-color: grey; 
}
.topnav-right nav ul li:hover ul{
    display: block;
}
#functional_links_welcomePage{
    display: none;
    margin: 120px 2% 0;
}
#functional_links_welcomePage a {
    display: block;
    float: left;
    margin: 0 15px;
}
.clear{
    clear:both;
}
.mobileHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}
.navbar{
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}









.bg-img {
    background-image: url("img/img03.jpg");
    margin-top: 15px;
    min-height: 100px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-img-h1{
    text-align: center;
    font-size: 40px;
    line-height: 230%;
}

.top_acount_nav {
    position: relative;
    width: 100%;
    z-index: 1;
    top:-34px;
    list-style: none; 
    float:left ;  

}








@media screen and (min-width: 576px) {
    #book_appointment_area{
        height: 650px;
    }
}

@media screen and (min-width: 768px) {
    body{
        background-color: transparent;
    }
    .fixed_position_welcome_page{
        display: block;
    }
    #functional_links_welcomePage{
        display: block;
    }
    .mobileNav {
        display: none;
    }
    #book_appointment_area{
        margin: 15px 3.3% 6px;
        height: 700px;
    }
    .book_appointment_field p{
        padding-left: 19px;
        margin-left: 2px;
    }
    .book_appointment_field h1{
        display: block;
    }
    .book_appointment_field h4{
        display: none;
    }
    .book_appointment_btn{
        width:253px;
    }
}

@media screen and (min-width: 992px) {
    #book_appointment_area{
        margin: 15px 3% 6px;
        height: 720px;
    }
}

@media screen and (min-width: 1200px) {
    #book_appointment_area{
        margin: 15px 2.7% 6px;
        height: 730px;
    }
}

@media screen and (min-width: 1400px) {
    
}

@media print {
   body {
       background-color: transparent;
       background-image: none;
       font-family: "Times New Roman", Times, serif;
   }
}